body, p, a {
    margin: 0;
    font-family: Merriweather, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

.nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav-links a {
    text-decoration: none;
    margin: 0 10px;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-footer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center content */
    padding: 20px;
    background-color: #f4f4f4; /* Match the header background */
    border-top: 1px solid #ddd; /* Optional top border for separation */
    position: relative; /* Optional: Create context for positioning */
    bottom: 0;
    width: 100%;
    box-sizing: border-box; 
    text-align: center;
}

.footer-nav-links {
    display: flex;
    gap: 15px;
    margin: 0 0 10px;
}

.footer-nav-links a:hover {
    color: #007BFF;
}

.nav-footer p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

.nav-links a:hover {
    color: #007BFF;
}

body.dark-mode .nav-links a {
    color: #eaeaea;
}

body.dark-mode .nav-links a:hover {
    color: #66ccff;
}

hr {
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}