.intro-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: var(--color-1);
    text-align: left;
    transition: background-color 0.3s ease;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 40px auto;
    padding: 20px;
    max-width: 1280px;
    box-sizing: border-box;
    width: 90%;
    text-align: left;
    background-color: var(--base-variant);
}

.text-content {
    flex: 1;
}

.text-content h1 {
    font-size: 2.5rem;
    margin: 0 0 10px;
    color: inherit;
}

.image-content img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    object-fit: contain;
}

.image-content img:hover {
    transform: scale(1.05);
}

.programs-section {
    text-align: center;
    padding: 30px 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 640px;
    margin: 0 auto;
    box-sizing: border-box;
}

.programs-section h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    max-width: 100%;
}

.icons-container a {
    display: inline-block;
    max-width: 120px;
    text-align: center;
}

.icons-container a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.icon {
    width: 80px;
    height: 80px;
    fill: currentColor;
    transition: transform 0.3s ease;
    object-fit: contain;
    border-radius: 8px;
    transition: width 0.3s ease, height 0.3s ease;
}

.github-icon {
    fill: #601a7e;
}

.gimp-icon {
    fill: #eec357;
}

.inkscape-icon {
    fill: #797979;
}

@media (max-width: 768px) {
    .icons-container {
        gap: 20px;
    }

    .icon {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 450px) {
    .intro-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .text-content {
        max-width: 90%;
        margin: 0 auto;
    }

    .text-content h1 {
        font-size: 2rem;
    }

    .image-content img {
        max-width: 200px;
        margin: 0 auto;
    }

    .programs-section {
        padding: 20px 10px;
    }

    .programs-section h2 {
        font-size: 1.5rem;
    }

    .icons-container {
        gap: 15px;
    }

    .icons {
        width: 60px;
        height: 60px;
    }

    .icons a {
        max-width: 80px;
    }
}

.hover-zoom {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.1);
    cursor: pointer;
}
